In [5]:
l=[]
x=[]
y=[]
print ("Input the coordinates\n Enter 'Stop' when done")
while(1):
    i=input()
    if(i=="Stop"):
        break
    l.append(int(i))
print("Input the x coordinate:")
X=int(input())
for i in range (0,len(l)):
    if i%2==0:
        x.append(l[i])
    else:
        y.append(l[i])
summ=0
for i in x:
    summ=summ+i
xm=summ/len(x)
summ=0
for i in y:
    summ=summ+i
ym=summ/len(y)
summ=0
summi=0
for i in range (0,len(x)):
    summ=summ+((x[i]-xm)*(y[i]-ym))
    summi=summi+((x[i]-xm)*(x[i]-xm))
O1=summ/summi
O0=ym-(O1*xm)
Y=O0+(O1*X)
print ("Required y coordinate is:"+str(Y))

Input the coordinates
 Enter 'Stop' when done
1
2
3
3
3
4
Stop
Input the x coordinate:
4
Required y coordinate is:4.25

In [7]:
class linear_regression():
    
    def _init_(self):  #constructor to initialize the value
        self.x=[]
        self.y=[]
        self.n=0
        self.q0=0
        self.q1=0
        
    def fit(self,x,y):    #trains the model according to the given data
        self.x=x
        self.y=y
        self.n=len(self.x)
        a=0                          #numerator of q1
        b=0                          #denomerator of q1
        x1=sum(self.x)/self.n        #the mean of xs
        y1=sum(self.y)/self.n        #the mean of ys
        for i in  range(self.n):     #finding the values of numerator and dinominator
            a=a+(self.x[i]-x1)*(self.y[i]-y1)
            b=b+(self.x[i]-x1)**2
        self.q1=a/b         
        self.q0=y1-self.q1*x1
        
    def predict(self,x_val):
        return self.q0+self.q1*x_val

In [8]:
x=[1,3,3]
y=[2,3,4]

clf=linear_regression()
clf.fit(x,y)
clf.predict(3.5)

3.875

In [9]:
import pickle
with open('regression.pkl', 'wb') as output:
    pickle.dump(clf, output, pickle.HIGHEST_PROTOCOL)

In [10]:
with open('regression.pkl', 'rb') as input:
    ob = pickle.load(input)

In [11]:
ob.predict(3)

3.5

In [9]:
class linearRegression():
    def _init_(self):
        self.x=[]
        self.y=[]
        self.n=0
        self.O0=0
        self.O1=0
    def fit(self,x,y):
        self.x=x
        self.y=y
        self.n=len(self.x)
        a=0
        b=0
        xm=sum(self.x)/self.n
        ym=sum(self.y)/self.n
        for i in range(self.n):
            a=a+(self.x[i]-xm)*(self.y[i]-ym)
            b=b+(self.x[i]-xm)**2
        self.O1=a/b         
        self.O0=ym-self.O1*xm
        
    def predict(self,x_val):
        return self.O0+(self.O1*x_val)

In [10]:
x=[1,3,3]
y=[2,3,4]

obj=linearRegression()
obj.fit(x,y)
obj.predict(3.5)

3.875

In [11]:
import pickle
with open('linearregression.pkl', 'wb') as output:
    pickle.dump(obj, output, pickle.HIGHEST_PROTOCOL)

In [12]:
with open('linearregression.pkl', 'rb') as input:
    ob = pickle.load(input)

In [13]:
ob.predict(3)

3.5

In [14]:
ob.predict(7)

6.5

In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
df=pd.read_csv(r'C:\Users\User\dataset.csv', encoding = "ISO-8859-1")

In [16]:
df

,MODEL,MAKE,MODEL.1,VEHICLE_CLASS,ENGINE_SIZE,CYLINDERS,TRANSMISSION,FUEL,FUEL_CONSUMPTION,CO2_EMISSIONS
0,1995,ACURA,INTEGRA,SUBCOMPACT,1.8,4.0,A4,X,10.2,202.0
1,1995,ACURA,INTEGRA,SUBCOMPACT,1.8,4.0,M5,X,9.6,193.0
2,1995,ACURA,INTEGRA GS-R,SUBCOMPACT,1.8,4.0,M5,Z,9.4,191.0
3,1995,ACURA,LEGEND,COMPACT,3.2,6.0,A4,Z,12.6,251.0
4,1995,ACURA,LEGEND COUPE,COMPACT,3.2,6.0,A4,Z,13.0,260.0
...,...,...,...,...,...,...,...,...,...,...
3535,NaN,D = Diesel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3536,NaN,E = Ethanol (E85),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3537,NaN,N = Natural Gas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3538,Fuel Consumption,City and highway fuel consumption ratings are ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3539,CO2 Emissions (g/km),Estimated tailpipe carbon dioxide emissions (i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
cdf = df[['CYLINDERS','CO2_EMISSIONS','ENGINE_SIZE','FUEL_CONSUMPTION']]
cdf.head(9)

   CYLINDERS  CO2_EMISSIONS  ENGINE_SIZE  FUEL_CONSUMPTION
0        4.0          202.0          1.8              10.2
1        4.0          193.0          1.8               9.6
2        4.0          191.0          1.8               9.4
3        6.0          251.0          3.2              12.6
4        6.0          260.0          3.2              13.0
5        6.0          258.0          3.2              13.4
6        6.0          267.0          3.0              13.5
7        6.0          255.0          3.0              12.9
8        6.0          301.0          3.0              15.7

In [18]:
df2=cdf.dropna()
msk = np.random.rand(len(df2)) < 0.8
train = df2[msk]
test = df2[~msk]

In [19]:
regr = linearRegression()
train_x = np.asanyarray(train[['ENGINE_SIZE']])
train_y = np.asanyarray(train[['CO2_EMISSIONS']])
regr.fit (train_x, train_y)

In [26]:
'''test_x = np.asanyarray(test[['ENGINE_SIZE']])
test_y = np.asanyarray(test[['CO2_EMISSIONS']])
test_y_ = regr.predict(test_x)
print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_ - test_y)))
print("Residual sum of squares (MSE): %.2f" % np.mean((test_y_ - test_y) ** 2))
print (test_y_)'''
regr.predict(400)

array([16175.63279042])

In [29]:
import numpy as np
import random as rd
import linear
import pandas as pd

clf=linear.linear_regression()


df=pd.read_csv(r'C:\Users\User\dataset.csv', encoding = "ISO-8859-1")
cdf = df[['CYLINDERS','CO2_EMISSIONS','ENGINE_SIZE','FUEL_CONSUMPTION']]
ndf=cdf.dropna()
x=ndf.CYLINDERS
y=ndf.CO2_EMISSIONS

clf.fit(x,y)
clf.predict(400)

ModuleNotFoundError: No module named 'linear'

In [30]:
class linear_regression():
    
    def __init__(self):  #constructor to initialize the value
        self.x=[]
        self.y=[]
        self.n=0
        self.q0=0
        self.q1=0
        
    def fit(self,x,y):    #trains the model according to the given data
        self.x=x
        self.y=y
        self.n=len(self.x)
        a=0                          #numerator of q1
        b=0                          #denomerator of q1
        x1=sum(self.x)/self.n        #the mean of xs
        y1=sum(self.y)/self.n        #the mean of ys
        for i in  range(self.n):     #finding the values of numerator and dinominator
            a=a+(self.x[i]-x1)*(self.y[i]-y1)
            b=b+(self.x[i]-x1)**2
        self.q1=a/b         
        self.q0=y1-self.q1*x1
        
    def predict(self,x_val):
        return self.q0+self.q1*x_val

In [32]:
import numpy as np
import random as rd
import pandas as pd

clf=linear_regression()


df=pd.read_csv(r'C:\Users\User\dataset.csv', encoding = "ISO-8859-1")
cdf = df[['CYLINDERS','CO2_EMISSIONS','ENGINE_SIZE','FUEL_CONSUMPTION']]
ndf=cdf.dropna()
x=ndf.CYLINDERS
y=ndf.CO2_EMISSIONS

clf.fit(x,y)
clf.predict(400)

12493.223281308898